<h1>Welcome!</h1>
<div class="panel panel-default col-md-10">
  <div class="panel-body">
    Click below to start the quiz.  All strategy is currently only for 4+ deck games.
  </div>
  <a href="/start.html" id="start-button" class="btn btn-success">Start Quiz</a>
</div>

<div class="row">
  <div class="col-md-12">All strategy comes from <a href="https://wizardofodds.com/games/blackjack/strategy/calculator/">The Wizard of Odds</a></div>
</div>
