<h1>Welcome!</h1>
<div class="panel panel-default col-md-10">
  <div class="panel-body">
    Click below to start the quiz.  All strategy is currently only for 4+ deck games.
  </div>
  <a href="/start" id="start-button" class="btn btn-success">Start Quiz</a>
</div>