<div id="start-content">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">What should you do when your hand is <span id="player-hand"></span>?</h3>
    </div>
    <div class="panel-body">
      <a id="home-button" class="btn btn-warning" href="/">Change Difficulty</a>
      <div id="counter"></div>
      <div id="button-container" class="content">
        <div id="show-answer" class="btn btn-success">Show Answer</div>
        <div id="next-question" class="btn btn-default">Next &gt;</div>
        <div id="previous-question" class="btn btn-default">&lt; Prev</div>
      </div>
      <div id="answer-panel" class="well">
<!--         <div class="row">
          <div class="col-xs-6 header">Dealer Shows:</div>
          <div class="col-xs-6 header">Your action:</div>
          <div class="col-xs-6">2,3,4,5,6,7,8,9,10,A</div>
          <div class="col-xs-6">hit</div>
        </div>
 -->      </div>
    </div>
  </div>
</div>

<script src="script.js"></script>
