#start-button {
  margin: 20px 15px;
}

#start-content {
  margin-top: 10px;

  #button-container{
    margin-top: 20px;
    #show-answer {
      margin-bottom: 20px;
    }

    #next-question, #previous-question {
      float: right;
    }

    #next-question {
      margin-left: 20px;
    }

  }

  #answer-panel {
    .header {
      font-weight: bold;
    }
  }
}

